body {
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

h1 {
  color: #ffa5a5;
  text-align: center;
  border: 1px solid #ffa5a5;
  border-radius: 2px;
}
h1:hover {
  color: white;
  background-color: #ffa5a5;
}
img {
  margin-right: 400px;
  float: right;
  border-radius: 10px;
}
.intro {
  margin-top: 200px;
}
.name {
  font-size: large;
  color: #ffa5a5;

  margin-left: 100px;
}
.tittle {
  font-size: large;
  color: #ffa5a5;

  margin-left: 100px;
}
.skills {
  font-size: large;
  color: #ffa5a5;

  margin-left: 100px;
}
.additional {
  font-size: large;
  color: #ffa5a5;

  margin-left: 100px;
}
#about-me {
  padding: 10px;
  border-radius: 5px;
  color: #ffa5a5;
  background-color: white;
  border: #ffa5a5;
}
#about-me:hover {
  color: white;
  background-color: #ffa5a5;
}
#my-work {
  padding: 10px;
  border-radius: 5px;
  color: #ffa5a5;
  background-color: white;
  border: #ffa5a5;
}

#my-work:hover {
  color: white;
  background-color: #ffa5a5;
}
#my-profile {
  padding: 10px;
  border-radius: 5px;
  color: #ffa5a5;
  background-color: white;
  border: #ffa5a5;
}
#my-profile:hover {
  color: white;
  background-color: #ffa5a5;
}
#text {
  margin-top: 50px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  color: #ffa5a5;
}
#glimpse {
  text-align: center;
  margin-top: 30px;
  font-size: larger;
}
#project1 {
  display: block;
  margin-left: 100px;
  margin-right: 400px;
  background-color: #ffa5a5;
}
#project2 {
  display: block;
  margin: auto;
  background-color: #ffa5a5;
  margin-left: 100px;
  margin-right: 800px;
}
#project3 {
  display: block;
  margin: auto;
  background-color: #ffa5a5;
  margin-left: 100px;
  margin-right: 100px;
}
