body {
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  color: #ffa5a5;
}

h1 {
  color: rgb(44, 178, 187);
  text-align: center;
  border: 1px solid rgb(44, 178, 187);
  border-radius: 2px;
}
h1:hover {
  color: white;
  background-color: #ffa5a5;
}

.picture {
  margin-right: 200px;
  float: right;
  border-radius: 10%;
  margin-top: none;
  margin-top: 100px;
}
h2 {
  padding: 150px;
}

.name {
  font-size: large;
  color: #ffa5a5;

  margin-left: 100px;
}
.tittle {
  font-size: large;
  color: #ffa5a5;

  margin-left: 100px;
}
.skills {
  font-size: large;
  color: #ffa5a5;

  margin-left: 100px;
}
.additional {
  font-size: large;
  color: #ffa5a5;

  margin-left: 100px;
}
#click-here {
  color: #ffa5a5;
}
#about-me {
  padding: 12px 28px;
  border-radius: 5px;
  color: rgb(44, 178, 187);
  background-color: white;
  border: 2px solid #ffa5a5;
  flex-wrap: none;
}
#about-me:hover {
  color: rgb(44, 178, 187);
  background-color: #ffa5a5;
}
#my-work {
  padding: 12px 28px;
  border-radius: 5px;
  color: rgb(44, 178, 187);
  background-color: white;
  border: 2px solid #ffa5a5;
}

#my-work:hover {
  color: rgb(44, 178, 187);
  background-color: #ffa5a5;
}
#my-profile {
  padding: 12px 28px;
  border-radius: 5px;
  color: rgb(44, 178, 187);
  background-color: white;
  border: #ffa5a5;
  border: 2px solid #ffa5a5;
}
#my-profile:hover {
  color: rgb(44, 178, 187);
  background-color: #ffa5a5;
}
#text {
  margin-top: 50px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  color: #ffa5a5;
}
#glimpse {
  font-size: 34px;
  text-align: center;
  margin-top: 30px;

  color: rgb(44, 178, 187);
}
#glimpse:hover {
  color: white;
  background-color: #ffa5a5;
}

#project1 {
  margin-right: 400px;
  float: right;
  width: 500px;
}
#project2 {
  margin-left: 400px;
  float: left;
  width: 400px;
}
#project3 {
  margin-right: 400px;
  float: right;
  width: 500px;
}
#project4 {
  margin-left: 400px;
  float: left;
  width: 400px;
}
#project5 {
  margin-right: 400px;
  float: right;
  width: 500px;
}
#text1 {
  color: #ffa5a5;
  margin-left: 30px;
  margin-top: 50px;
}
#text2 {
  color: #ffa5a5;
  margin-left: 30px;
  margin-top: 50px;
}
#text3 {
  color: #ffa5a5;
  margin-left: 30px;
  margin-top: 50px;
}
#text4 {
  color: #ffa5a5;
  margin-left: 30px;
  margin-top: 50px;
}
#text5 {
  color: #ffa5a5;
  margin-left: 30px;
  margin-top: 50px;
}

h3 {
  font-size: 34px;
  text-align: center;

  color: rgb(44, 178, 187);
}

h3:hover {
  color: white;
  background-color: #ffa5a5;
}
ul {
  text-align: left;
  font-size: medium;
  list-style: square;
  color: #ffa5a5;
  margin-left: 500px;
}
#write {
  text-align: center;
  color: #ffa5a5;
}
#write {
  color: rgb(44, 178, 187);
}
